/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: #ebf1f4;
}

input,
select,
button {
	font: inherit;
}

img,
iframe {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	letter-spacing: 0.025rem;
}

/*********************/
/* Reusable Classes */
.container {
	max-width: 1400px;
	margin: 0 auto;
}

/******************/
/* Header Section */

/* Header Text */
header {
	background-image: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0.5) 150%),
		url(/assets/nyc-landscape.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
}

header .container {
	padding: 100px 40px;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
}

.header-text {
	color: #ffffff;
	flex: 1;
}

.header-text h1 {
	font-size: 5rem;
	font-weight: 700;
}

.header-text h1 span {
	text-shadow: 8px 0px 0px rgba(255, 255, 255, 0.5);
}

.header-text p {
	color: rgba(255, 255, 255, 0.8);
}

/* Header Cards */
.header-cards {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
}

.header-card {
	border-radius: 8px;
	padding: 12px;
	/* delete later */
	background-color: #cecece;
}

.header-card__time {
	height: 70%;
	align-self: flex-end;
}

.header-card__weather {
}

.header-card__fromlocation {
}

.header-card__tolocation {
}

/* Header Nav Cards */
.header-nav {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
	position: relative;
}

.header-nav a:nth-of-type(1) {
	grid-column: span 2;
}

.header-nav__title {
	position: absolute;
	display: none; /* temp */
}
