/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: #ebf1f4;
}

input,
select,
button {
	font: inherit;
}

img,
iframe {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	letter-spacing: 0.025rem;
}

i {
	font-size: 1.4rem;
}

/*********************/
/* Reusable Classes */
.container {
	max-width: 1400px;
	margin: 0 auto;
}

/******************/
/* Header Section */
header {
	background-image: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0.5) 150%),
		url(/assets/nyc-landscape.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
}

header .container {
	padding: 150px 60px 150px 40px;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* Header Text */
.header-text {
	color: #ffffff;
	flex: 1;
	max-width: 600px;
}

.header-text h1 {
	font-size: 5rem;
	font-weight: 700;
}

.header-text h1 span {
	text-shadow: 8px 0px 0px rgba(255, 255, 255, 0.5);
}

.header-text p {
	color: rgba(255, 255, 255, 0.8);
}

/***************/
/* Header Cards */
.header-cards {
	flex: 1;
	max-width: 500px;
	display: grid;
	grid-template-columns: repeat(2, minmax(210px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
}

.header-card {
	border-radius: 8px;
	padding: 12px;
}

.header-card span {
	display: block;
}

/* Time Card */
.header-card__time {
	height: fit-content;
	align-self: flex-end;
	background-color: black;
	color: #fff;
	border: 1px solid #636363;

	display: flex;
	justify-content: space-between;
}

.header-card__time span:first-of-type {
	font-size: 1.6rem;
}

.header-card__time span:last-of-type {
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.8);
}

.header-card__time i {
	align-self: flex-end;
	color: #a19590;
}

/* Weather Card */
.header-card__weather {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #bfd0cd;
}

.header-card__weather span:first-of-type {
	font-size: 1.6rem;
}

.header-card__weather span:last-of-type {
	font-size: 0.9rem;
}

.header-card__weather div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header-card__weather img {
	height: 60px;
}

.header-card__weather a {
	color: rgba(0, 0, 0, 0.75);
	transition: all 200ms ease-in;
}

.header-card__weather a:hover {
	color: #205169;
	transform: scale(1.05);
}

/* Header Flight Cards */
.header-card__fromlocation,
.header-card__tolocation {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

.header-card__fromlocation div,
.header-card__tolocation div {
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.airport-code {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1;
}

/* From Location */
.header-card__fromlocation {
	background-color: #503e37;
	color: #fff;
	position: relative;
}

.header-card__fromlocation input {
	width: 75%;
	background-color: transparent;
	border: none;
}

.header-card__fromlocation input {
	color: white;
	padding-bottom: 5px;
}

.header-card__fromlocation input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	width: fit-content;
}

.header-card__fromlocation input:focus::placeholder {
	opacity: 0.5;
}

#search-airport,
#search-location {
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	transition: all 200ms ease-in;
}

#search-airport:hover,
#search-location:hover {
	color: #fff;
}

#search-airport {
	color: rgba(255, 255, 255, 0.3);
}

.header-card__fromlocation input:focus + #search-airport {
	color: #fff;
}

/* To Location */
.header-card__tolocation {
	background-color: #1d292f;
	color: #fff;
}

.header-card__tolocation p {
	align-self: flex-end;
	text-align: end;
}

.header-card__tolocation span:first-of-type {
	display: inline;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
}

.header-card__tolocation div i {
	font-size: 1.2rem;
	padding-top: 3px;
	color: #bfd0cd;
}

/********************/
/* Header Nav Cards */
.header-nav {
	align-self: start;
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
	position: relative;
}

.header-nav a:nth-of-type(1) {
	grid-column: span 2;
}

.header-card__nav-light {
	background-color: #ebf1f4;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	transition: all 200ms ease-in;
}

.header-card__nav-light span {
	border-bottom: 1px solid #000;
}

.header-card__nav-dark {
	background-color: #070707;
	color: #fff;
	border: 1px solid #636363;
	transition: all 200ms ease-in;
}

.header-card__nav-light:hover {
	background-color: #bfd0cd;
}

.header-card__nav-dark:hover {
	background-color: #494949;
}

/* Nav Section Title: Menu */
.header-nav__title {
	position: absolute;
	color: #909090;
	font-weight: 400;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	border-bottom: 1px solid #909090;
	right: -18%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	transition: all 200ms ease-in;
}

/* Flight Loading Dots */
.dots {
	position: absolute;
	top: 55%;
	right: -34.5%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.dots-to i,
.dots-from i {
	font-size: 18px;
	vertical-align: middle;
}

.dots-between i {
	font-size: 4px;
	vertical-align: middle;
}

.dots-from,
.dots-to,
.dots-between {
	opacity: 0.3;
	animation: dots-loading 2.4s ease-in infinite alternate;
}

.dots-between {
	animation-delay: 0.2s;
}

.dots-between:nth-of-type(3) {
	animation-delay: 0.4s;
}

.dots-between:nth-of-type(4) {
	animation-delay: 0.6s;
}

.dots-between:nth-of-type(5) {
	animation-delay: 0.8s;
}

.dots-between:nth-of-type(6) {
	animation-delay: 1s;
}

.dots-to {
	color: #99dbfb;
	animation-delay: 1.2s;
}

@keyframes dots-loading {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

/* Aside Form To Search Flights/Hotels */
aside .container {
	background-color: #1d292fc3;
	width: fit-content;
	padding: 12px 40px 20px;
	backdrop-filter: blur(2px);
	margin-top: -50px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
}

aside span {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4px;
}

.flight-form__label {
	font-weight: 500;
	font-size: 0.8rem;
	color: #aaacbd;
}

.flight-form__input {
	width: 100%;
	height: 30px;
	padding: 4px;
	background-color: #ececec;
	border: none;
	border-radius: 4px;
}

.flight-form__input::-webkit-datetime-edit-month-field,
.flight-form__input::-webkit-datetime-edit-day-field,
.flight-form__input::-webkit-datetime-edit-year-field,
.flight-form__input::-webkit-datetime-edit-text,
.flight-form__input::placeholder {
	color: rgba(0, 0, 0, 0.75);
}

#flight-form__button {
	padding: 4px 20px;
	border: none;
	border-radius: 4px;
	background-color: #1d292f;
	color: #fff;
	cursor: pointer;
	transition: all 200ms ease-in;
	align-self: flex-end;
	display: flex;
	gap: 6px;
	align-items: center;
	white-space: nowrap;
}

#flight-form__button i {
	font-size: 1.2rem;
	padding-left: 4px;
	transition: all 200ms ease-in;
}

#flight-form__button:hover {
	background-color: #bfd0cd;
	color: #000;
}

#flight-form__button:hover i {
	transform: translateX(6px);
}

/***********************/
/* MEDIA QUERIES */

@media (max-width: 1180px) {
	.header-text {
		flex: auto;
		max-width: 500px;
	}

	.header-text h1 {
		font-size: 4.4rem;
	}

	.header-card__fromlocation input::placeholder {
		font-size: 0.9rem;
	}
}

@media (max-width: 750px) {
	aside .container {
		grid-template-columns: repeat(3, 1fr);
		margin-top: -70px;
	}

	#flight-form__button {
		grid-column: span 3;
		justify-content: center;
		padding: 8px 20px;
	}

	#flight-form__button:hover {
		transform: none;
	}
}

@media (max-width: 580px) {
	.header-text h1 {
		font-size: 3.7rem;
	}

	.header-text p {
		font-size: 0.9rem;
	}

	header .container {
		gap: 40px;
	}
}

@media (max-width: 500px) {
	header .container {
		padding: 100px 20px;
	}

	.header-text h1 {
		font-size: 3.2rem;
	}

	.header-text h1 span {
		text-shadow: 6px 0px 0px rgba(255, 255, 255, 0.5);
	}

	.header-cards,
	.header-nav {
		display: flex;
		flex-direction: column;
	}

	.header-card,
	.header-nav {
		width: 100%;
	}

	.header-nav__title {
		position: static;
		transform: none;
		margin-top: 10px;
	}

	.header-card__fromlocation input {
		width: 85%;
	}

	.header-card__tolocation div {
		flex-direction: column;
		align-items: end;
	}

	.dots {
		right: 50%;
		left: 50%;
		top: 75%;
		transform: translate(-50%, -50%) rotate(90deg);
	}

	.dots-between:nth-of-type(5),
	.dots-between:nth-of-type(6) {
		display: none;
	}
}

@media (max-width: 380px) {
	.header-text h1 {
		font-size: 2.6rem;
	}

	header .container {
		padding: 80px 10px;
	}

	.airport-code {
		font-size: 3.2rem;
	}
}
