/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: #ebf1f4;
}

input,
button {
	font: inherit;
}

img,
iframe {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	letter-spacing: 0.025rem;
}

i {
	font-size: 1.4rem;
}

section h2 {
	font-size: 3.8rem;
	border-bottom: 1px solid #000;
	width: fit-content;
	margin-bottom: 24px;
}

input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-year-field,
input::-webkit-datetime-edit-text,
input::placeholder {
	color: rgba(0, 0, 0, 0.75);
}

input:focus::placeholder {
	opacity: 0.5;
}

ul {
	list-style-type: none;
}

/*********************/
/* Reusable Classes */
.container {
	max-width: 1400px;
	margin: 0 auto;
}

/******************/
/* Header Section */
header {
	background-image: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0.5) 300%),
		url(/assets/nyc-landscape.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
}

header .container {
	padding: 180px 60px 180px 40px;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* Header Text */
.header-text {
	color: #ffffff;
	flex: 1;
	max-width: 600px;
}

.header-text h1 {
	font-size: 5rem;
	font-weight: 700;
}

.header-text h1 span {
	text-shadow: 8px 0px 0px rgba(255, 255, 255, 0.5);
}

.header-text p {
	color: rgba(255, 255, 255, 0.8);
}

/***************/
/* Header Cards */
.header-cards {
	flex: 1;
	max-width: 500px;
	display: grid;
	grid-template-columns: repeat(2, minmax(210px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
}

.header-card {
	border-radius: 8px;
	padding: 12px;
}

.header-card span {
	display: block;
}

/* Time Card */
.header-card__time {
	height: fit-content;
	align-self: flex-end;
	background-color: black;
	color: #fff;
	border: 1px solid #636363;

	display: flex;
	justify-content: space-between;
}

.header-card__time span:first-of-type {
	font-size: 1.6rem;
}

.header-card__time span:last-of-type {
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.8);
}

.header-card__time i {
	align-self: flex-end;
	color: #a19590;
}

/* Weather Card */
.header-card__weather {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #bfd0cd;
}

.header-card__weather span:first-of-type {
	font-size: 1.6rem;
}

.header-card__weather span:last-of-type {
	font-size: 0.9rem;
}

.header-card__weather div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header-card__weather img {
	height: 60px;
}

.header-card__weather a {
	color: rgba(0, 0, 0, 0.75);
	transition: all 200ms ease-in;
}

.header-card__weather a:hover {
	color: #205169;
	transform: scale(1.05);
}

/* Header Flight Cards */
.header-card__fromlocation,
.header-card__tolocation {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

.header-card__fromlocation div,
.header-card__tolocation div {
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.airport-code {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1;
}

/* From Location */
.header-card__fromlocation {
	background-color: #503e37;
	color: #fff;
	position: relative;
}

.header-card__fromlocation input {
	width: 75%;
	background-color: transparent;
	border: none;
}

.header-card__fromlocation input {
	color: white;
	padding-bottom: 5px;
}

.header-card__fromlocation input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	width: fit-content;
	font-size: 0.9rem;
}

#search-airport,
#search-location {
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	transition: all 200ms ease-in;
}

#search-airport:hover,
#search-location:hover {
	color: #fff;
}

#search-airport {
	color: rgba(255, 255, 255, 0.3);
}

.header-card__fromlocation input:focus + #search-airport {
	color: #fff;
}

/* To Location */
.header-card__tolocation {
	background-color: #1d292f;
	color: #fff;
}

.header-card__tolocation > p {
	align-self: flex-end;
	text-align: end;
}

.header-card__tolocation div i {
	font-size: 1.2rem;
	padding-top: 3px;
	color: #bfd0cd;
}

.header-card__tolocation > div p {
	font-weight: 300;
	font-size: 0.9rem;
}

.header-card__tolocation > div span {
	display: inline;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
	font-size: 1rem;
}

/********************/
/* Header Nav Cards */
.header-nav {
	align-self: start;
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
	position: relative;
}

.header-nav a:nth-of-type(1) {
	grid-column: span 2;
}

.header-card__nav-light {
	background-color: #ebf1f4;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	transition: all 200ms ease-in;
}

.header-card__nav-light span {
	border-bottom: 1px solid #000;
}

.header-card__nav-dark {
	background-color: #070707;
	color: #fff;
	border: 1px solid #636363;
	transition: all 200ms ease-in;
}

.header-card__nav-light:hover {
	background-color: #bfd0cd;
}

.header-card__nav-dark:hover {
	background-color: #494949;
}

/* Nav Section Title: Menu */
.header-nav__title {
	position: absolute;
	color: #909090;
	font-weight: 400;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	border-bottom: 1px solid #909090;
	right: -18%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	transition: all 200ms ease-in;
}

/* Flight Loading Dots */
.dots {
	position: absolute;
	top: 55%;
	right: -34.5%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.dots-to i,
.dots-from i {
	font-size: 18px;
	vertical-align: middle;
}

.dots-between i {
	font-size: 4px;
	vertical-align: middle;
}

.dots-from,
.dots-to,
.dots-between {
	opacity: 0.3;
	animation: dots-loading 2.4s ease-in infinite alternate;
}

.dots-between {
	animation-delay: 0.2s;
}

.dots-between:nth-of-type(3) {
	animation-delay: 0.4s;
}

.dots-between:nth-of-type(4) {
	animation-delay: 0.6s;
}

.dots-between:nth-of-type(5) {
	animation-delay: 0.8s;
}

.dots-between:nth-of-type(6) {
	animation-delay: 1s;
}

.dots-to {
	color: #99dbfb;
	animation-delay: 1.2s;
}

@keyframes dots-loading {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

/* Aside Form To Search Flights/Hotels */
aside .container {
	background-color: #1d292fc3;
	width: fit-content;
	padding: 12px 40px 20px;
	backdrop-filter: blur(2px);
	margin-top: -50px;
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

aside span {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4px;
}

.flight-form__label {
	font-weight: 500;
	font-size: 0.8rem;
	color: #aaacbd;
}

.flight-form__input {
	width: 100%;
	height: 30px;
	padding: 4px;
	background-color: #ececec;
	border: none;
	border-radius: 4px;
}

#flight-form__button {
	padding: 4px 20px;
	border: none;
	border-radius: 4px;
	background-color: #3a4c54;
	color: #fff;
	cursor: pointer;
	transition: all 200ms ease-in;
	align-self: flex-end;
	display: flex;
	gap: 6px;
	align-items: center;
	white-space: nowrap;
}

#flight-form__button i {
	font-size: 1.2rem;
	padding-left: 4px;
	transition: all 200ms ease-in;
}

#flight-form__button:hover {
	background-color: #bfd0cd;
	color: #000;
}

#flight-form__button:hover i {
	transform: translateX(6px);
}

/********************************/
/* ABOUT SECTION */
.about {
	padding: 100px 80px;
}

.about h3 {
	font-size: 1.2rem;
}

.about-data-wrapper {
	display: grid;
	grid-template-columns: minmax(200px, 1fr) auto minmax(400px, 1fr);
	gap: 18px;
	align-items: center;
}

.about-card__text {
	font-size: 0.9rem;
	padding: 16px 16px 16px 0;
	align-self: flex-start;
}

.about-card__data {
	background-color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 225px;
}

.about-card__data-population p {
	font-size: 2.8rem;
	font-weight: 700;
	white-space: nowrap;
}

.about-card__data-population span {
	font-size: 0.9rem;
	font-weight: 500;
	color: #636363;
}

.about-card__data-population a {
	color: #5f7d8a;
	font-size: 0.75rem;
	text-decoration: underline;
	transition: all 200ms ease-in;
}

.about-card__data-population a:hover {
	color: #1d292f;
}

.about-card__data-heading {
	display: flex;
	align-items: center;
	gap: 8px;
}

.about-card__flags {
	font-size: 1.2rem;
}

.about-experience-wrapper {
	margin: 16px auto;
	display: flex;
	gap: 18px;
}

/* EXPERIENCE SECTION */
.about-card__experience {
	padding: 16px 24px 24px 24px;
	border-radius: 8px;
	background-color: #1d292f;
	color: #fff;
	flex: 1;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.about-card__experience:nth-of-type(2) {
	background-color: #475c66;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.about-card__experience-gallery {
	margin-top: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}

.gallery-img-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery-img-wrapper img {
	border-radius: 4px;
	transition: all 200ms ease-in;
	object-fit: cover;
	height: 100%;
	filter: sepia(10%) grayscale(50%);
}

.caption-hover {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 200ms ease-in;
	transition-delay: 200ms;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	border-bottom: 1px solid #fff;
}

.gallery-img-wrapper:hover .caption-hover {
	opacity: 1;
}

.gallery-img-wrapper:hover img {
	filter: blur(2px) opacity(0.8) grayscale(1);
	transform: scale(1.2);
}

/* ENTERTAINMENT SECTION */
.entertainment-card-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 8px;
	gap: 8px;
}

.entertainment-card:nth-of-type(1),
.entertainment-card:nth-of-type(4),
.entertainment-card:nth-of-type(5),
.entertainment-card:nth-of-type(8) {
	grid-column: span 2;
}

.entertainment-card {
	background-color: #ffffff;
	color: #070707;
	padding: 8px;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.entertainment-card__heading {
	font-size: 1.1rem;
	font-weight: 600;
}

.entertainment-card__caption {
	font-size: 0.8rem;
}

.entertainment-card__btn {
	align-self: flex-end;
	background-color: #1d292f;
	color: #fff;
	font-size: 0.9rem;
	padding: 4px 8px;
	border-radius: 4px;
	transition: all 200ms ease-in;
}

.entertainment-card__btn:hover {
	background-color: #bfd0cd;
	color: #000;
}

.entertainment-card__btn:active {
	transform: scale(0.9);
}

/***********************/
/* TOP DESTINATION SECTION */
.destinations {
	padding: 20px 80px;
}

.destination-card-wrapper {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	padding: 40px 0;
}

.destination-card {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	min-width: 350px;
}

.destination-card__content h3 {
	margin-bottom: 4px;
	font-size: 1.4rem;
}

.destination-card__content p {
	font-size: 0.9rem;
	margin-bottom: 16px;
	color: #444444;
}

.destination-card__img-wrapper {
	margin-bottom: 16px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.destination-card__img-wrapper img {
	height: 275px;
	border-radius: 4px;
	object-fit: cover;
	grid-column: span 2;
	filter: sepia(10%) grayscale(25%);
}

.destination-map {
	height: 275px;
	border-radius: 4px;
}

.toggle-map {
	background-color: #205169;
	color: #fff;
	padding: 8px 16px;
	width: fit-content;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 200ms ease-in;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	gap: 8px;
}

.toggle-map i {
	font-size: 1rem;
}

.toggle-map:hover {
	background-color: #bfd0cd;
	color: #000;
}

.toggle-map:active {
	transform: scale(0.95);
}

.destination-card__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.destination-card__rating i {
	color: #205169;
	margin-bottom: 4px;
}

.destination-card__rating p {
	font-weight: bolder;
}

.destination-card__rating small {
	font-weight: lighter;
	color: #636363;
}
/************************/
/* Tourists Section */
.neighborhoods {
	padding: 80px 80px;
}

.neighborhoods button {
	background-color: #fff;
	display: block;
	margin: 0 auto;
	padding: 6px 18px;
	width: fit-content;
	border-radius: 4px;
	font-size: 0.8rem;
	transition: all 200ms ease;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	border: 1px solid #1d292f;
}

button.active-button {
	background-color: #bfd0cd;
	color: #000;
	border: 1px solid transparent;
}

.neighborhoods a:hover,
.neighborhoods button:hover {
	background-color: #bfd0cd;
	color: #000;
	border: 1px solid transparent;
}

.neighborhoods a:active,
.neighborhoods button:active {
	transform: scale(0.95);
}

/* Neighborhood Card */
.neighborhood-card-wrapper {
	display: grid;
	gap: 16px;
	grid-template-columns: 6fr 3fr;
	margin: 16px auto;
}

.neighborhood-card {
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 0 8px 8px 8px;
	flex: 2;
}

.neighborhood-card h3 {
	background-color: #fff;
	padding: 10px 7px;
	color: #1d292f;
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-weight: 800;
	font-size: 1.6rem;
	top: 129px;
	left: -3%;
	transform: rotate(-90deg);
	transform-origin: left center;
	z-index: 1;
	border-radius: 8px 8px 0 0;
}

.neighborhood-card__intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
}

.neighborhood-card__intro a {
	padding: 6px;
	border-radius: 4px;
	font-size: 0.75rem;
	background-color: #ececec;
	border: 1px solid transparent;
	width: fit-content;
	transition: all 200ms ease;
}

.neighborhood-card__intro ul {
	align-self: flex-end;
	display: flex;
	white-space: nowrap;
	flex-wrap: wrap;
	gap: 6px;
}

.neighborhood-card__intro li {
	margin-top: 8px;
}

.neighborhood-card__hotel-wrapper {
	display: flex;
	flex: 1;
	gap: 12px;
	background-color: #fcfcfc;
	color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.neighborhood-card__hotels li {
	margin-bottom: 6px;
}

.neighborhood-card__hotel-card img {
	filter: sepia(20%) grayscale(35%);
	object-fit: cover;
	border-radius: 4px;
	height: auto;
	margin: 4px auto;
}

.neighborhood-card__hotel-card {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.neighbhorhood-card__hotel-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.neighbhorhood-card__hotel-heading h4 {
	color: #1d292f;
	font-size: 1rem;
}

.neighbhorhood-card__hotel-heading a {
	font-size: 0.8rem;
	padding: 2px 6px;
	border-radius: 4px;
	background-color: #205169;
	color: #fff;
	border: 1px solid transparent;
}

.neighborhood-card__hotel-contact {
	font-size: 0.8rem;
	color: #636363;
}

/***********************/
/* CTA Bottom */
.cta {
	padding: 150px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
}

.cta h2 {
	border-bottom: none;
	margin-bottom: 0;
}

.cta h3 {
	font-size: 2.4rem;
	color: #475c66;
	margin-bottom: 12px;
}

.cta-text,
.cta-form-wrapper {
	width: 500px;
}

.cta-form-wrapper {
	color: #bfd0cd;
	background-color: #5a6d76;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.cta-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.cta-form > div {
	display: flex;
	align-items: center;
}

.cta-form input {
	flex: 3;
	border-radius: 4px;
	border: none;
	padding: 4px;
	background-color: #ececec;
}

input:disabled {
	background-color: #667a84;
	border: 1px solid #ececec;
	cursor: not-allowed;
}

input:disabled::placeholder {
	color: #bfbfbf;
}

.cta-form label {
	flex: 1;
	color: #ebf1f4;
	font-size: 0.8rem;
}

#cta-button {
	background-color: #1d292f;
	color: #fff;
	border: none;
	padding: 8px 24px;
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
	transition: all 200ms ease-in;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	margin-top: 6px;
}

#cta-button:hover {
	background-color: #bfd0cd;
	color: #000;
}

#cta-button:active {
	transform: scale(0.95);
}

#cta-button i {
	font-size: 1.2rem;
	transition: all 200ms ease-in;
}

#cta-button:hover i {
	transform: translateX(6px);
}

/**********************/
/* FOOTER SECTION */
footer {
	background-color: #1d292f;
	color: #bfd0cd;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	padding: 80px 80px 60px;
	gap: 24px;
	max-width: 1400px;
	margin: 0 auto;
}

.footer-content > div {
	padding: 0 30px;
}

.footer__nyc-links li {
	margin-top: 6px;
}

.footer__nyc-links a {
	font-size: 0.9rem;
}

.footer__nyc-links a,
.footer__social-icons a,
.footer__social-icons i {
	transition: all 200ms ease-in;
}

.footer__nyc-links a:hover,
.footer__social-icons a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer__social-icons {
	margin-top: 24px;
	display: flex;
	gap: 16px;
}

.footer__social-icons a:hover i {
	transform: scale(1.1);
}

footer h5 {
	color: #ebf1f4;
	font-size: 1.4rem;
	margin-bottom: 12px;
}

footer p {
	margin-bottom: 12px;
	font-size: 0.9rem;
	line-height: 1.6;
}

/***********************/
/* MEDIA QUERIES */

@media (max-width: 1180px) {
	.header-text {
		flex: auto;
		max-width: 500px;
	}

	.header-text h1 {
		font-size: 4.4rem;
	}

	.header-card__fromlocation input::placeholder {
		font-size: 0.9rem;
	}
}

@media (max-width: 750px) {
	aside .container {
		grid-template-columns: repeat(3, 1fr);
		margin-top: -70px;
	}

	#flight-form__button {
		grid-column: span 3;
		justify-content: center;
		padding: 8px 20px;
	}

	#flight-form__button:hover {
		transform: none;
	}
}

@media (max-width: 580px) {
	.header-text h1 {
		font-size: 3.7rem;
	}

	.header-text p {
		font-size: 0.9rem;
	}

	header .container {
		gap: 40px;
	}

	aside .container {
		width: 100%;
		padding: 12px 20px 20px;
		border-radius: 0;
		background-color: #1d292f;
	}
}

@media (max-width: 500px) {
	header .container {
		padding: 100px 20px;
	}

	.header-text h1 {
		font-size: 3.2rem;
	}

	.header-text h1 span {
		text-shadow: 4px 0px 0px rgba(255, 255, 255, 0.5);
	}

	.header-cards,
	.header-nav {
		display: flex;
		flex-direction: column;
	}

	.header-card,
	.header-nav {
		width: 100%;
	}

	.header-nav__title {
		position: static;
		transform: none;
		margin-top: 10px;
	}

	.header-card__fromlocation input {
		width: 85%;
	}

	.header-card__tolocation div {
		flex-direction: column;
		align-items: end;
	}

	.dots {
		right: 50%;
		left: 50%;
		top: 75%;
		transform: translate(-50%, -50%) rotate(90deg);
	}

	.dots-between:nth-of-type(5),
	.dots-between:nth-of-type(6) {
		display: none;
	}
}

@media (max-width: 420px) {
	.header-text h1 {
		font-size: 3rem;
	}

	header .container {
		padding: 100px 10px;
	}

	.airport-code {
		font-size: 3.2rem;
	}

	aside .container {
		display: flex;
		flex-direction: column;
	}

	aside span {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0;
	}

	#flight-form__button {
		width: 100%;
		margin-top: 8px;
	}

	.flight-form__label {
		flex: 1;
	}

	.flight-form__input {
		flex: 3;
	}
}
